.header{
    @include size;
    @include center;
    background-color: red;
    @include fade-in(3s)
}



@keyframes fade-in {
    0% {
    
      
      transform: scale(0) rotate(0deg);
    }
  
    100% {

    
      transform: scale(1) rotate(90deg);
    }
  }
  
