@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size {
    width: 4rem;
    height: 4rem;
    
}
@mixin fade-in($time) {
    animation-name: fade-in;
    animation-duration: #{$time};
    animation-iteration-count: infinite;
    
}
@mixin triangle ($direction, $color: black){
    width: 0;
    height: 0;
    @if $direction == up {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $color;
      } @else if $direction == right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $color;
      } @else if $direction == left {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $color;
      } @else if $direction == down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color;
    }
    @else {
        @error "unknown #{$direction}";
    }
}