@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size {
    width: 4rem;
    height: 4rem;
    
}
@mixin fade-in($time) {
    animation-name: fade-in;
    animation-duration: #{$time};
    animation-iteration-count: infinite;
    
}
@mixin triangle ($direction, $color: black){
    width: 0;
    height: 0;
    @if $direction == up {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $color;
      } @else if $direction == right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $color;
      } @else if $direction == left {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $color;
      } @else if $direction == down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color;
    }
    @else {
        @error "unknown direction #{$direction}";
    }
}

$font-sizing: (
    xs: 10px,
    s: 15px,
    m: 25px,
    l: 35px,
    xl: 50px,
    xxl: 70px,

);

@mixin font-size($size) {
    @if map-has-key($font-sizing, $size) {
      font-size: map-get($font-sizing, $size);
    } @else {
      @error "#{$size} this is not defined, Use #{font-sizing}";
    }
  }
  // functions in sass
  @function font-size($size) {
    @if map-has-key($font-sizing, $size) {
      @return map-get($font-sizing, $size);
    } @else {
      @error "#{$size} this is not defined, Use #{font-sizing}";
    }
  }
  